body {
       font-family: Arial;
       width: 500px;
       margin: auto;
   }
   
   label {
       display: block;
       padding: 10px 0;
       font-weight: bold;
   }
    input[type="text"], 
   textarea {
       width: 98%;
       padding: 10px;
       box-sizing: border-box;
       outline: none;
       border: 1px solid #ccc;
   }
   
  .button {
      background-color: blue;
      color: white;
      padding: 14px 20px;
      cursor: pointer;
      width: 100%;
      opacity: 0.9;
  }
  
 .button:hover {
     opacity:1;
}